{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="HLO ID" content="Creating Hlo ID is an absolutely quick process. Just click here to create one and get started . You shall use it in all applications from Hlo and also extend availability with games and apps of partners.">
    <meta name="author" content="HLO">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>HOME</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
	<!-- Favicon  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<style>

</style>
<body data-spy="scroll" data-target=".fixed-top">
    <div class="navbar">
        <div class="words">
            <a href="index">Home</a>
            <a href="aboutus">About Us</a>
            <a href="privacy">Privacy</a>
            <a href="terms">Terms</a>
            <div class="dropdown">
              <button class="dropbtn">Sign Up</button>
              <div class="dropdown-content">
                <a href="sign_up_myself">Myself</a>
                <a href="sign_up_org">Organization</a>
              </div>
            </div>
        </div>
    </div>
    
    <nav>
        <div id="menuToggle">
            <input id="isAgeSelected" type="checkbox" />

            <!-- Hamburger Icon -->
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="terms.html">Terms</a></li>
                <li><a href="sign-up-myself.html">For Myself</a></li>
                <li><a href="sign-up-org.html">For Org</a></li>
            </ul>
        </div> <!-- end of menuToggle-->
    </nav> <!-- end of nav -->
    <img class="top-logo" src="{% static 'images/logo.png' %}" alt="alternative">

    <!-- Header -->
    <header id="header" class="header">
        <svg class="header-bg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1720.053 1080"><defs>
            <style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="190.62" y1="-190.62" x2="1472.363" y2="1091.123" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#E91E63"/><stop offset="0.156" stop-color="#E80E55"/><stop offset="0.415" stop-color="#E90E60"/><stop offset="0.74" stop-color="#E91E63"/><stop offset="1" stop-color="#E91E70"/></linearGradient></defs><title>header-background</title><path class="cls-1" d="M1455.1,1080L72.853,1000.374A73.067,73.067,0,0,1,0,927.521V0H1720.053l-2.3,12.065-189.8,995.082C1520,1050.667,1495.165,1080,1455.1,1080Z"/></svg>
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="logo-text" href="{% static {% static'[]index.html">HLO</a> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-container">
                        <h1 class="text">HLO ID for<br><span id="js-rotating"> MYSELF,Developer,Organization</span></h1>
                        <style>h3{text-align: justify;}</style>
                        <h3 class="text1">Creating HLO ID is an absolutely quick process. Just click here to create one and get started. You shall use it in all applications from HLO and also extend it's availability with games and apps of partners.</h3>
                        <br>
                        <div class="log-in-button">
                            <h3>CREATE YOUR HLO ID</h3>
                            <a href="{% static 'sign_up_myself' %}"><button>Sign-Up Myself</button></a>
                            <a href="{% static 'sign_up_org' %}"><button>Sign-Up Organization</button></a>
                        </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="image-container">
                        <img class="heading-img" src="{% static 'images/mob.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->
                
    <div class="basic-1 bg-black">
        <div class="container" style="z-index: 0;">
            <div class="row">
                <div class="col-lg-11">
                    <p class="p-large"> Featured In</p>
                    <div class="text-container">
                        <h2>HloChat&nbsp;&nbsp;&nbsp;HloApp</h2>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of partners -->


    <!-- Features -->
    <div id="process" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Reserve your HLO ID</h2>
                    <br>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-compass"></i></div><h3>Early Access</h3>
                            </div> 
                            <div class="card-text">
                                 With HLO ID, you can get quick and zippy access to all our supported apps. Still what’s hesitating you? Create an account with our HLO ID and gain access.
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-code"></i></div><h3>Exclusive Perks</h3>
                            </div> 
                            <div class="card-text">
                                Upon creating HLO ID, users will be rewarded with an exclusive bounty. Wasn’t that satisfying enough? Yes! Then go create your HLO ID and grab them all.
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-gem"></i></div><h3>Community</h3>
                            </div> 
                            <div class="card-text">
                                ‘We grow together in our community.’
Each and every user means a lot to our company. We are eager and happy to have all of you on board with us in this journey towards success. 
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->


    <!-- Details 1 -->
    <div class="basic-2 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/privacy.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        
                        <h2><i class="fas fa-exclamation-triangle icon-heading"></i> Your Privacy<span>*</span></h2>
                        <p>‘Our users safety is our utmost priority’. 
                            <br>Your personal information and data is secure with us.
                        <p><a class="btn-solid-reg popup-with-move-anim" href="{% static '#details-1-lightbox' %}">View more</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->


    <!-- Details 1 Lightbox -->
    <!-- Lightbox -->
	<div id="details-1-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
			<div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/noads.png' %}" alt="alternative">
                </div> <!-- end of image-container -->
			</div> <!-- end of col -->
			<div class="col-lg-4">
                <h3>No ad targeting</h3>
				<hr>
                <p>We value each and every user, and hence do not entertain targeted ads on our platform.</p>
                <p><button class="btn-outline-reg mfp-close as-button" type="button">Back</button></p>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox --> 
    <!-- end of details 1 lightbox -->


    <!-- Details 2 -->
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        
                        <h2><i class="fas fa-laptop icon-heading"></i> Multi-platform</h2>
                        <p>We additionally concentrate on the convenience of our users. Thus, <a href="{% static 'index.html' %}"><strong>HLO</strong></a> works on different platforms such as:</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>iOS</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Android</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Web application</strong></div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/multiplatform.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of details 2 -->


    <!-- Details 3 -->
    <div class="basic-4 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/spam.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        
                        <h2><i class="fas fa-user-lock icon-heading"></i>  No more spam accounts<span>*</span></h2>
                        <p>We assure to maintain the safety and security of each person using <a href="{% static 'index.html' %}"><strong>hlo.dev</strong></a> Thereby, to avoid the presence of spam accounts, authentication steps are provided at each step and backdrop is verified.<p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of details 3 -->
    <!-- Questions -->
    <h2 class="h2-heading">Frequently Asked Questions</h2>
    <div class="basic-5 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container first">
                        <h5>1. How to create and reserve HLO ID??</h5>
                        <p>Creating HLO ID is an absolute quick process. Just <a href="{% static 'sign-up.html' %}"><strong>click here</strong></a> to create one and get started.</p>
                        <h5>2. How does HLO ID help me?</h5>
                        <p>You shall access all applications from HLO and also extend availability with games and apps of partners.</p>
                        <h5>3. Does HLO ID work in multi-platforms?</h5>
                        <p>Yes! HLO ID works in multi-platforms such as iOS, android and web application.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container second">
                        <h5>4. Who is eligible to create HLO ID?</h5>
                        <p>Anyone above 13 years of age is eligible to create and access HLO ID.</p>
                        <h5>5. How to contact HLO ID support team?</h5>
                        <p>Kindly, <a href="mailto:yourfriends@hlodev.com"><strong>click here</strong></a> to contact us. Our support team will get in touch with you soon.</p>
                        <h5>6. Does HLO ID work for all apps?</h5>
                        <p>Yes! HLO ID works for HloChat, HloApp and other partner apps.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-5 -->
    <!-- end of questions -->

    <!-- Download Text -->
    <div id="download" class="basic-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <h1>WE GROW TOGETHER!!</h1>
                    <a href="sign_up_myself"><button>Sign-Up Myself</button></a>
                    <a href="sign_up_org"><button>Sign-Up Organization</button></a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-7 -->
    <!-- end of download text -->


    <!-- Footer -->
    <div class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>HLO</h6>
                        <img class="hlo-image" src="{% static 'images/favicon.png' %}" alt="alternative">
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>A ROOK VENTURE</h6>
                        <ul class="list-unstyled li=space-lg p-large">
                            <img class="logo-rook" src="{% static 'images/logo_rook.png' %}" alt="alternative">
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        </span>
                        <span class="fa-stack">
                            <a href="https://twitter.com/HloDevs">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.linkedin.com/company/hlodevs/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://instagram.com/hlodevs">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">We would love to hear from you <a href="mailto:yourfriends@hlodev.com"><strong>yourfriends@hlodev.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © HLO</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>