{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="HLO ID" content="Creating Hlo ID is an absolutely quick process. Just click here to create one and get started . You shall use it in all applications from Hlo and also extend availability with games and apps of partners.">
    <meta name="author" content="HLO">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Privacy Policy</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'css/nav.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <div class="navbar">
        <div class="words">
            <a href="index">Home</a>
            <a href="aboutus">About Us</a>
            <a href="privacy">Privacy</a>
            <a href="terms">Terms</a>
            <div class="dropdown">
              <button class="dropbtn">Sign Up</button>
              <div class="dropdown-content">
                <a href="sign_up_myself">Myself</a>
                <a href="sign_up_org">Organization</a>
              </div>
            </div>
        </div>
    </div>
    
    <nav>
        <div id="menuToggle">
            <input id="isAgeSelected" type="checkbox" />

            <!-- Hamburger Icon -->
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="terms.html">Terms</a></li>
                <li><a href="sign-up-myself.html">For Myself</a></li>
                <li><a href="sign-up-org.html">For Org</a></li>
            </ul>
        </div> <!-- end of menuToggle-->
    </nav> 
    <div class="head-bar">
        <a href="{% static 'sign-up-org.html' %}">
            <img class="fav-logo" src="{% static 'images/output-onlinepngtools.png' %}" alt="alternative"></a>
    </div>
    <!-- end of nav -->
    <!-- Header -->
    <h1 class="priv"><center>Privacy Policy</center></h1>

    <!-- Basic -->
    <div class="ex-basic-1 pt-6">
        <div class="container">
            <div class="row">
                <div class="term-content">
                    <div class="text-box mb-5">
                       <p class="p-large" > At HLO ID one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by hlo.dev and how we use it.
                        If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
                        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in hlo.dev. This policy is not applicable to any information collected offline or via channels other than this website.  
                    </p>
                </div> <!-- end of text-box -->
                <div class="term-ent-cont">
                    <p class="mb-5"></p>
                    <h2>1.Consent</h2>
                    <p class="p-large" class="mb-5">By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                    <h2>2.Information we collect</h2>
                    <p class="p-large" class="mb-6">The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
                        If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
                        When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
                        </p>
                    <h2 class="mb-4">3. How we use your information</h2>
                    <p class="p-large" class="mb-5">We use the information we collect in various ways:</p>
                    <div class="text-box mb-6">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong font-size:18px; >Provide, operate, and maintain our website</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Improve, personalize, and expand our website</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Understand and analyze how you use our website</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Develop new products, services, features, and functionality</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Send you emails</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Find and prevent fraud</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-box -->

                    <h2 class="mb-4">4.Log Files</h2>
                    <p class="p-large">hlo.dev follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

                    <h2 class="mb-4">5.Cookies and Web Beacons</h2>

                    <p class="p-large">Like any other website, hlo.dev uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
                    <p class="p-large">For more general information on cookies, please read more on the Cookie Consent website.</p>

                    <h2 class="mb-4">6.Our Advertising Partners</h2>

                    <p class="p-large">Policy for their policies on user data. Our advertising partners are listed below. Each of our advertising partners has their own Privacy to their Privacy Policies below:</p>
                    <p class="p-large">Google</a></p>
                    


                   <h2 class="mb-4">7.Advertising Partners Privacy Policies</h2>

                   <p class="p-large">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on hlo.dev, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
                    <p>Note that hlo.dev has no access to or control over these cookies that are used by third-party advertisers.
                    </p>

                    <h2 class="mb-4">8.Third Party Privacy Policies</h2>
                    <p class="p-large">hlo.dev's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
                    <p class="p-large">You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
                   
                   
                    <h2 class="mb-4">9.CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
                    <p class="p-large">Under the CCPA, consumers can:</p>
                    <p class="p-large">Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
                   <p class="p-large">Request that a business delete any personal data about the consumer that a business has collected.</p>
                   <p class="p-large">Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
                   <p class="p-large">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
                   
                   
                   
                   <h2 class="mb-4">10.GDPR Data Protection Rights</h2>
                    <p class="p-large">We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
                    <ul class="list-unstyled li-space-lg mb-5">
                        <li class="media">
                            <strong>1.</strong>
                            <div class="media-body" class="p-large">The right to access - You have the right to request copies of your personal data. We may charge you a small fee for this service.</div>
                        <li class="media">
                          <strong>2.</strong>
                          <div class="media-body"><strong class="p-large">The right to rectification</strong> You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</div>
                        <li class="media">
                           <strong>3.</strong>
                           <div class="media-body"><strong class="p-large">The right to erasure</strong>  You have the right to request that we erase your personal data, under certain conditions.</div>
                        <li class="media">
                            <strong>4.</strong>
                           <div class="media-body"><strong class="p-large">The right to restrict processing</strong>  You have the right to request that we restrict the processing of your personal data, under certain conditions.</div>
                        <li class="media">
                           <strong>5.</strong>
                          <div class="media-body"><strong class="p-large">The right to object to processing</strong> You have the right to object to our processing of your personal data, under certain conditions.</div>
                       <li class="media">
                            <strong>6.</strong>
                            <div class="media-body"><strong class="p-large">The right to data portability</strong>  You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</div>
                    </ul>
                    
                    <h3>11.Children's Information</h3>
                        <p class="p-large">Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
                        <p class="p-large">We do not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
                        <br>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    <!-- Footer -->
    <div class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>HLO</h6>
                        <img class="hlo-image" src="{% static 'images/favicon.png' %}" alt="alternative">
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>A ROOK VENTURE</h6>
                        <ul class="list-unstyled li=space-lg p-large">
                            <img class="logo-rook" src="{% static 'images/logo_rook.png' %}" alt="alternative">
                        </ul>
                    </div> <!-- end of footer-col -->
                
                    <div class="footer-col third">
                    </span>
                    <span class="fa-stack">
                        <a href="https://twitter.com/HloDevs">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.linkedin.com/company/hlodevs/">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://instagram.com/hlodevs">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                        <p class="p-small">We would love to hear from you <a href="mailto:yourfriends@hlodev.com"><strong>yourfriends@hlodev.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © HLO</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>