{% extends 'sign-up-myself.html'%}
{% load static %}
{% block content%}
{% csrf_token%}
<style>
    #form{
        margin-top: 15%;
        margin-bottom: 5%;
        margin-left: 10%;
        width: 40%;
    }
    @media(max-width:920px){
        #form{
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
</style>
<br/>
<form id="form" data-toggle="validator" method="post" data-focus="false">
    <div class="form-group">
        <input type="text" class="form-control-input" id="hlo-id" required>
        <label class="label-control" for="lpassword">HLO ID (UserName)</label>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <button class="but" type="button" onclick="hid()">
        <img class="eye" onclick="imagefun()" id="getImage" src="{% static 'images/c-eye.png' %}"></button>
        <input type="password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control-input" id="password" required>
        <label class="label-control" for="lpassword">Password</label>
        <div id="message" style="display: none;">
            <span>Password must contain the following:</span>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>uppercase</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
    </div>
    <div class="form-group">
        <button class="but" type="button" onclick="hide()">
            <img class="eye" onclick="imagefu()" id="getImag" src="{% static 'images/c-eye.png' %}"></button>
        <input type="password" class="form-control-input" id="con-pass" required>
        <label class="label-control" for="lpassword">Confirm Password</label>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <select class="selection">
            <option selected disabled>&nbsp;&nbsp;Select Gender</option>
            <option>&nbsp;&nbsp;Male</option>
            <option>&nbsp;&nbsp;Female</option>
            <option>&nbsp;&nbsp;Prefer not to Say</option>
        </select>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group-dob">
        <input type="text" class="form-control-input-dob" id="dob" onfocus="(this.type='date')" onblur="if(this.value) this.type='text'" required>
        <label class="label-control-dob" for="dob">DOB</label>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <button type="submit" href="{% static 'Otp.html' %}" class="form-control-submit-button">Sign Up</button>
    </div>
    <div class="form-message">
        <div id="lmsgSubmit" class="h3 text-center hidden"></div>
    </div>
    <script>
        function hid() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function imagefun() {
            var Image_Id = document.getElementById('getImage');
            if (Image_Id.src.match("{% static 'images/eye.png' %}")) {
                Image_Id.src = "{% static 'images/c-eye.png' %}";
            } else {
                Image_Id.src = "{% static 'images/eye.png' %}";
            }
        }
    </script>
    <script>

        let timeout;

        // traversing the DOM and getting the input and span using their IDs

        let password = document.getElementById('PassEntry')
        let strengthBadge = document.getElementById('StrengthDisp')

        // The strong and weak password Regex pattern checker

        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
        let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')

        function StrengthChecker(PasswordParameter){

            // We then change the badge's color and text based on the password strength

            if (strongPassword.test(PasswordParameter)) {
                strengthBadge.style.backgroundColor = "green"
                strengthBadge.textContent = 'Strong'
            } else if (mediumPassword.test(PasswordParameter)){
                strengthBadge.style.backgroundColor = 'blue'
                strengthBadge.textContent = 'Medium'
            } else {
                strengthBadge.style.backgroundColor = 'red'
                strengthBadge.textContent = 'Weak'
            }
        }

        // Adding an input event listener when a user types to the  password input

        password.addEventListener("input", () => {

            //The badge is hidden by default, so we show it

        strengthBadge.style.display= 'block'
        clearTimeout(timeout);

            //We then call the StrengChecker function as a callback then pass the typed password to it

        timeout = setTimeout(() => StrengthChecker(password.value), 500);


            //Incase a user clears the text, the badge is hidden again

        if(password.value.length !== 0){
            strengthBadge.style.display != 'block'
        } else{
            strengthBadge.style.display = 'none'
        }
        });
    </script>
    <script>
        var myInput = document.getElementById("password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
    <img class="post " src="../static/images/post2.png" alt="alternative"></a>

</form>
{% endblock%}