.form-group-otp {
	position: relative;
    display: flex;
	margin-bottom: 1.25rem;
	width: 100%;
	opacity: 1;
	transition: opacity 2s linear ;
}

.otp-but{
    position: relative;
	width: 30%;
	height: 3.5rem;
	border: 1px solid #ff4587;
	border-radius: 0.375rem;
	background-color: #ff4587;
	color: #ffffff;
	font-weight: 600;
    margin-left: 40%;
	font-size: 0.875rem;
	cursor: pointer;
	transition: all 0.2s;
}

.otp-but:hover{
    border: 1px solid #ff4587;
	background-color: transparent;
	color: #ff4587;
}

.form-group-otp #phonenumber {
    position: relative;
	width: 180%;
	opacity: 1;
}

.form-group-otp button {
    position: relative;
	width: 30%;
	height: 3.5rem;
	border: 1px solid #ff4587;
	border-radius: 0.375rem;
	background-color: #ff4587;
	color: #ffffff;
	font-weight: 600;
    margin-left: 40%;
	font-size: 0.875rem;
	cursor: pointer;
	transition: all 0.2s;
}

.form-group-otp button:hover {
	border: 1px solid #ff4587;
	background-color: transparent;
	color: #ff4587;
}

.but{
	position: absolute;
	border: none;
	background-color: #393a3c;
	margin-left: 90%;
	margin-top: 2%;
	border-radius: 25px;
}

.send-but button {
	display: inline-block;
	height: 3.125rem;
	margin-right: 5%;
	margin-left: 5%;
	border: 1px solid #ff4587;
	border-radius: 0.375rem;
	background-color: #ff4587;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-group-dob {
	position: relative;
	margin-bottom: 1.25rem;
	width: 100%;
}

.label-control-dob {
	position: absolute;
	top: .5rem;
	left: 1.375rem;
	color: #e8e7e7;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input-dob:focus + .label-control-dob,
.form-control-input-dob.notEmpty + .label-control-dob,
.form-control-textarea:focus + .label-control-dob,
.form-control-textarea.notEmpty + .label-control-dob {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input-dob,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.4rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #726e83;
	border-radius: 0.375rem;
	background-color: #393a3c;
	color: #e8e7e7;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}



.form-group select {
    position: relative;
	/* you should keep these first rules in place to maintain cross-browser behavior */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	background-color: #393a3c;
	width: 100%;
	color: #e8e7e7;
	line-height: 350%;
	border-radius: 5px;
	border: 1px solid #726e83;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    outline: none;
	font-size: 15px;
	padding-inline-start: 2%;
}

.form-group select:hover{
	border: 1px solid #a1a1a1;
}

/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (max-width: 760px) {

	/* end of extra pages */
}
/* end of min-width 768px */